/* Full-width container with background color */


/* Centralized inner container with max-width */
.menu-div {
    text-align: center;
    width: 100%;
    background-color: #333;
    margin-bottom: 4rem;
}

/* Style for the menu items */
.menu-item {
    display: inline-block;
    color: #fff;
    padding: 2rem 3rem;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

/* Hover effect for menu items */
.menu-item:hover {
    background-color: #444;
}
