body {
    background-color: #a3a3a3;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-div {
    background-color: aqua;
    width: 45rem;
    height: 45rem;
    border-radius: 5rem;
    border: 0.5rem dashed white;
    box-shadow: 0 0 1.25rem rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Drop zone styling */
.drop-zone {
    position: relative; /* For absolutely positioned children */
    width: 80%;
    height: 50%;
    border: 2px dashed #ffffff;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden; /* Hide overflow of background image */
    transition: background-color 0.3s;
}

.drop-zone.dragover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Preview background image inside drop zone */
.drop-zone .preview-bg {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;   /* Keeps the entire image visible without cropping */
    z-index: 0;            /* Place behind any drop zone content */
    pointer-events: none;
    display: none;
}

.output-div {
    position: absolute;      /* Take absolute positioning within the drop zone */
    top: 50%;                /* Center vertically */
    left: 50%;               /* Center horizontally */
    transform: translate(-50%, -50%);  /* Offset the element to maintain true center */
    z-index: 1;              /* Ensure it appears above the background preview image */
    text-align: center;
    color: white;            /* Adjust text color as needed */
    font-size: 3rem;       /* Adjust font size as desired */
    background-color: rgba(123, 179, 236, 0.695); /* Semi-transparent white background */
}