{% extends "base2.html" %}
{% block head %}
   <h1>About Us</h1>
    <p>Our mission is to empower farmers with accessible technology</p>
{% endblock %}

{% block content %}
 <article>
        <h2>About Us</h2>
        <p>AgroAi is a smart digital assistant designed to support farmers in identifying plant diseases quickly and easily. Our platform allows users—especially grapevine farmers—to upload photos of their affected plants. In just a few moments, AgroAi analyzes the image using artificial intelligence, detects the disease, and recommends effective treatment solutions, including eco-friendly products from our trusted partner Microbify.

The idea behind AgroAi was born at the Digitalisation College in Deggendorf (Campus Cham), where a group of passionate students came together to solve a real-world problem: helping farmers make fast, accurate decisions when dealing with plant illnesses like mildew.

Our mission is simple—empower farmers with technology.</p> <p> We want to make plant disease detection more accessible, reduce crop loss, and support sustainable farming practices. With AgroAi, there’s no need for complex tools or expert knowledge. A single photo is enough to get real, practical advice.

We are committed to innovation, simplicity, and positive impact. Our long-term vision is to become a trusted tool for farmers around the world—starting with vineyards and growing beyond.

Whether you're managing a large agricultural operation or a small family farm, AgroAi is here to help you grow smarter.</p>
    </article>
{% endblock %}
