{% extends "base2.html" %}
{% block head %}
    <h1>Analyse the Plant</h1>
    <p>Upload a Plant Image for Fungal Detection</p>
{% endblock %}

{% block content %}
 <link rel="stylesheet" href="{{ url_for('static', filename='classifier/style.css') }}">
<script src="{{ url_for('static', filename='classifier/script.js') }}"></script>

      <div class="main-div" id="main-div">
      <!-- Drop zone container -->
      <div id="drop-zone" class="drop-zone">
        <!-- Background preview image (initially hidden) -->
        <img class="preview-bg" src="" id="preview-bg">
        <input type="file" name="file" id="file-input" style="display:none;">
        <div class="output-div" id="output-div">
          Please drop an image file here or click to select one.
        </div>
      </div>
    </div>
{% endblock %}


