<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Site{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='base/style.css') }}">
  <script src="{{ url_for('static', filename='base/script.js') }}"></script>
  {% block head %}{% endblock %}
</head>
<body>
        <div class="menu-div" id="menu-div">
            <a href="{{ url_for('index') }}" class="menu-item">Mehltau-Detektor</a>
            <a href="{{ url_for('production') }}" class="menu-item">Reaktor</a>
        </div>
  <div class="content">
    {% block content %}
    
    {% endblock %}
  </div>
</body>
</html>