<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microbify - Smart Fungal Detection</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <h1>Welcome to Microbify</h1>
        <p>Smart Fungal Detection and Treatment Management</p>
    </header>
    <nav>
        <a href="index.html">Home</a>
        <a href="analyse.html">Analyse the Plant</a>
        <a href="contact.html">Contact Us</a>
        <a href="articles.html">Articles</a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        © 2025 Microbify | Digital Agriculture Solutions
    </footer>
</body>

</html>