<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='classifier.css') }}">
    <script src="{{ url_for('static', filename='classifier.js') }}"></script>
    <title>Classifier</title>
</head>

<body>
    <div class="container" id="container">
        <form id="upload-form" enctype="multipart/form-data">
            <input type="file" name="file" id="file-input">
            <button type="submit" class="btn">Upload File</button>
        </form>
    </div>

</body>

</html>