<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='classifier.css') }}">
    <script src="{{ url_for('static', filename='classifier.js') }}"></script>
    <title>Classifier</title>
</head>

<body>
    <div class="main-div" id="main-div">
        <!-- Drop zone container -->
        <div id="drop-zone" class="drop-zone">
            <!-- Background preview image (initially hidden) -->
            <img class="preview-bg" src="" id="preview-bg">
            <input type="file" name="file" id="file-input" style="display:none;">
        <div class="output-div" id="output-div">
        </div>
        </div>
    </div>
</body>

</html>