<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='gallery.css') }}">
</head>
<body>
    <header>
        <h1>Image Gallery</h1>
    </header>
    <main>
        <div class="gallery">
            {% for image in images %}
                <div class="gallery-item">
                    <img src="{{ url_for('static', filename='galleryimages/' ~ image) }}" alt="Gallery Image">
                </div>
            {% endfor %}
        </div>
    </main>
    <footer>
        <a href="{{ url_for('index') }}">Back to Home</a>
    </footer>
</body>
</html>