{% extends "base2.html" %}
{% block head %}
    <h1>Smart Fungal Detection and Treatment Management</h1>
	<p>AgroAi helps farmers detect plant illnesses fast and easy. Just upload a picture and get expert-backed solutions tailored to your crops.</p>
{% endblock %}

{% block content %}
  <h2>About Our Project</h2>
    <p>We are working on a digitalization project in collaboration with Microbify, a German agricultural company. Our goal is to help farmers prevent fungal growth in crops using AI-based solutions.</p>

    <h3>How AgroAi Works</h3>
    <h4>Steps:</h4>
	<ul>

<li>Upload a Plant Photo
Snap or upload a picture of your plant's leaves or fruit showing signs of disease.</li>

<li>AI Analyzes the Image
Our smart system detects common plant diseases like mildew.</li>

<li>Receive Instant Solutions
Get treatment suggestions, including eco-friendly options from trusted partners like Microbify.</li>
	</ul>

    <h3>Why Choose AgroAi?</h3>
    <ul>
        <li>Easy to use—no expert knowledge needed</li>
        <li>Eco-friendly solutions from trusted sources</li>
        <li>Save time and protect your yield</li>
		<li>AI-powered precision</li>
    </ul>
{% endblock %}