<link rel="stylesheet" href="{{ url_for('static', filename='menu/style.css') }}">
<script src="{{ url_for('static', filename='menu/script.js') }}"></script>
<div class="menu-container" id="menu-container">

    <div class="menu-div" id="menu-div">
        <a href="{{ url_for('index') }}" class="menu-item">Mehltau-Detektor</a>
        <a href="{{ url_for('production') }}" class="menu-item">Reaktor</a>
        <a href="{{ url_for('calculator') }}" class="menu-item">Calculator</a>
    </div>
</div>