<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Reaktor OBJ/MTL Model with Flask</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='reactor/style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three/examples/jsm/"
      }
    }
  </script>
  
</head>
<body>
    <div id="canvas-container" data-static-url="{{ url_for('static', filename='') }}"></div>
  <script type="module" src="{{ url_for('static', filename='reactor/script.js') }}" defer>
    
  </script>
   
</body>
</html>